@model Wechflix.ViewModels.CustomerFormViewModel
@{
	ViewBag.Title = "New/Edit Customer";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.Customer.Id == 0 || Model.Customer == null) {
	<h2>New Customer</h2>
}
else {
	<h2>Edit Customer</h2>
}

@using (Html.BeginForm("Save", "Customers")) {
	@Html.ValidationSummary()
	<Div class="form-group">
		@Html.LabelFor(m => m.Customer.Name)
		@Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
		@Html.ValidationMessageFor(m =>m.Customer.Name)
	</Div>
	<Div class="form-group">
		@Html.LabelFor(m => m.Customer.Birthdate)
		@Html.TextBoxFor(m => m.Customer.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Customer.Birthdate)
	</Div>
	<Div class="form-group">
		@Html.LabelFor(m => m.Customer.MembershipTypeId)
		@Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
	</Div>
	<Div class="form-group form-check">
		@Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter)
		@Html.LabelFor(m => m.Customer.IsSubscribedToNewsLetter)
	</Div>
	@Html.HiddenFor(m => m.Customer.Id)
	@Html.AntiForgeryToken()
	<Button type="submit" class="btn btn-primary">Save</Button>
}

@section scripts
{
	@Scripts.Render("~/bundles/jqueryval")
}

