@model Wechflix.ViewModels.MovieFormViewModel
@{
	ViewBag.Title = "New/Edit Movie";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.movie.Id == 0 || Model.movie == null) {
	<h2>New Movie</h2>
}
else {
	<h2>Edit Movie</h2>
}

@using (Html.BeginForm("Save", "Movies")) {
	<Div class="form-group">
		@Html.LabelFor(m => m.movie.Name)
		@Html.TextBoxFor(m => m.movie.Name, new { @class = "form-control" })
	</Div>
	<Div class="form-group">
		@Html.LabelFor(m => m.movie.ReleaseDate)
		@Html.TextBoxFor(m => m.movie.ReleaseDate, "{0:d MMM yyyy}" , new { @class = "form-control" })
	</Div>
	<Div class="form-group">
		@Html.LabelFor(m => m.movie.GenreId)
		@Html.DropDownListFor(m => m.movie.GenreId, new SelectList(Model.Genres, "Id", "Name"), "" ,new { @class = "form-control" })
	</Div>
	<Div class="form-group">
		@Html.LabelFor(m => m.movie.NumberInStock)
		@Html.TextBoxFor(m => m.movie.NumberInStock, new { @class = "form-control" })
	</Div>
	@Html.HiddenFor(m => m.movie.Id)
	<Button type="submit" class="btn btn-primary">Save</Button>

}



